{% extends "base-1col.html" %}

{% block content %}
<h1>Listado de Vehículos participantes</h1>
<!-- tabla de datos devices -->
    <table class="table_descript" >
        {% for row in content.devices %}
            <tr>
            <th rowspan="3">{{ row.img|safe }}</th>
            <th class='cabezera'>{{ row.acro|safe }}<br></th>
            <th class='cabezera' colspan="2">{{ row.name|safe }}</th>
            <th>{{ row.cat|safe }}</th>
            </tr>
            <tr>
            <td colspan="4">{{ row.descript|safe }}</td>
            </tr>
        <tr>
            <td>Peso: {{ row.weight|safe }}</td>
            <td>Eslora: {{ row.length|safe }}</td>
            <td>Manga: {{ row.sleeve|safe }}</td>
            <td>Calado:{{ row.draft|safe }} </td>
        </tr>
        <tr>
            <td></td>
            <td>{{ row.owner_img|safe }}</td>
            <td colspan="3">{{ row.owner_name|safe }}</td>
        </tr>
        <tr>
            <td colspan="5">team</td>
        </tr>
        <tr>
        {% for item in row.team1 %}
            <td>{{ item.img|safe }}</br>
            {{ item.name|safe }}</br>
            {{ item.rol|safe }}
            </td>
        {% endfor %}
        </tr>
        <tr>
        {% for item in row.team2 %}
            <td>{{ item.img|safe }}</br>
            {{ item.name|safe }}</br>
            {{ item.rol|safe }}
            </td>
        {% endfor %}
        </tr>
        <tr>
            <td class='separador' colspan="5"></td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}
