{% extends "base-3col.html" %}

{% block left-content %}
<img class="title-resize" src="media/images/campeonato.png">
<ul>
      <li><a href="/championship/race/list"><img class="item-resize"  src="media/images/carreras.png"></a>
      <li><a href="/championship/device/list"><img class="item-resize"  src="media/images/vehiculos.png"></a>
      <li><a href="/championship/team/list"><img class="item-resize"  src="media/images/equipos.png"></a>
      <li><a href="/championship/adwars/list"><img class="item-resize"  src="media/images/premios.png"></a>
</ul>
{% endblock %}


{% block mid-content %}
<img class="title-resize" src="media/images/resultados.png">
<ul>
      <li><a href="/championship/results/race/"><img class="item-resize"  src="media/images/carreras.png"></a>
      <li><a href="/championship/results/device/"><img class="item-resize"  src="media/images/vehiculos.png"></a>
      <li><a href="/championship/results/team/"><img class="item-resize"  src="media/images/equipos.png"></a>
</ul>
{% endblock %}


{% block rigth-content %}
<img class="title-resize" src="media/images/servicios.png">
<ul>
      <li><a href="/championship/service/liverace/"><img class="item-resize"  src="media/images/liverace.png"></a>
      <li><a href="/championship/service/livedata/"><img class="item-resize"  src="media/images/livedata.png"></a>
      <li><a href="/championship/service/download/"><img class="item-resize"  src="media/images/descargas.png"></a>
</ul>

{% endblock %}

